In [37]:
import pandas as pd
import numpy as np
file = pd.read_csv( "bar_pass_prediction.csv" )
file.head()

,decile1b,decile3,ID,decile1,sex,race,cluster,lsat,ugpa,zfygpa,...,hisp,pass_bar,bar,bar_passed,tier,index6040,indxgrp,indxgrp2,dnn_bar_pass_prediction,gpa
0,10.0,10.0,2,10.0,1.0,7.0,1.0,44.0,3.5,1.33,...,0,1,a Passed 1st time,True,4.0,886.842082,g 700+,i 820+,0.979804,3.5
1,5.0,4.0,3,5.0,1.0,7.0,2.0,29.0,3.5,-0.11,...,0,1,a Passed 1st time,True,2.0,649.999987,f 640-700,f 640-700,0.979804,3.5
2,3.0,2.0,36,3.0,2.0,7.0,3.0,36.0,3.5,-0.64,...,0,1,a Passed 1st time,True,3.0,760.526298,g 700+,h 760-820,0.979804,3.5
3,7.0,4.0,52,7.0,2.0,7.0,3.0,39.0,3.5,0.34,...,0,1,a Passed 1st time,True,3.0,807.894717,g 700+,h 760-820,0.979804,3.5
4,9.0,8.0,55,9.0,2.0,7.0,4.0,48.0,3.5,1.02,...,0,1,a Passed 1st time,True,5.0,949.999974,g 700+,i 820+,0.979804,3.5

In [12]:
# Вывести техническую информацию о датасете
type(file)
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22407 entries, 0 to 22406
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   decile1b                 20803 non-null  float64
 1   decile3                  20803 non-null  float64
 2   ID                       22407 non-null  int64
 3   decile1                  21315 non-null  float64
 4   sex                      22402 non-null  float64
 5   race                     22391 non-null  float64
 6   cluster                  22311 non-null  float64
 7   lsat                     22407 non-null  float64
 8   ugpa                     22407 non-null  float64
 9   zfygpa                   21423 non-null  float64
 10  DOB_yr                   22357 non-null  float64
 11  grad                     22404 non-null  object
 12  zgpa                     21118 non-null  float64
 13  bar1                     22407 non-null  object
 14  bar1_yr                  22368 non-null  float64
 15  bar2                     22407 non-null  object
 16  bar2_yr                  22367 non-null  float64
 17  fulltime                 22373 non-null  float64
 18  fam_inc                  22118 non-null  float64
 19  age                      22318 non-null  float64
 20  gender                   22402 non-null  object
 21  parttime                 22373 non-null  float64
 22  male                     22402 non-null  float64
 23  race1                    22391 non-null  object
 24  race2                    22391 non-null  object
 25  Dropout                  22407 non-null  object
 26  other                    22407 non-null  int64
 27  asian                    22407 non-null  int64
 28  black                    22407 non-null  int64
 29  hisp                     22407 non-null  int64
 30  pass_bar                 22407 non-null  int64
 31  bar                      22407 non-null  object
 32  bar_passed               22407 non-null  bool
 33  tier                     22311 non-null  float64
 34  index6040                22407 non-null  float64
 35  indxgrp                  22407 non-null  object
 36  indxgrp2                 22407 non-null  object
 37  dnn_bar_pass_prediction  22407 non-null  float64
 38  gpa                      22407 non-null  float64
dtypes: bool(1), float64(22), int64(6), object(10)
memory usage: 6.5+ MB

In [13]:
# номинальные данные
file.lsat

0        44.0
1        29.0
2        36.0
3        39.0
4        48.0
         ...
22402    26.5
22403    19.7
22404    36.0
22405    44.0
22406    29.5
Name: lsat, Length: 22407, dtype: float64

In [14]:
# категориальные данные
file.indxgrp.unique()

array(['g 700+', 'f 640-700', 'e 580-640', 'd 520-580', 'c 460-520',
       'b 400-460', 'a under 400'], dtype=object)

In [16]:
# непрерывные данные
file.cluster.unique()

array([ 1.,  2.,  3.,  4.,  6.,  5., nan])

In [17]:
# статистические характеристики набора
file.describe(include = "all")

,decile1b,decile3,ID,decile1,sex,race,cluster,lsat,ugpa,zfygpa,...,hisp,pass_bar,bar,bar_passed,tier,index6040,indxgrp,indxgrp2,dnn_bar_pass_prediction,gpa
count,20803.000000,20803.000000,22407.000000,21315.000000,22402.000000,22391.000000,22311.000000,22407.000000,22407.000000,21423.000000,...,22407.000000,22407.000000,22407,22407,22311.000000,22407.000000,22407,22407,22407.000000,22407.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4,2,NaN,NaN,7,9,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,a Passed 1st time,True,NaN,NaN,g 700+,i 820+,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19839,21237,NaN,NaN,15272,5241,NaN,NaN
mean,5.528481,5.525934,13768.253537,5.708234,1.561378,6.458354,2.817355,36.767907,3.215451,0.086068,...,0.004686,0.947829,NaN,NaN,3.768814,744.196203,NaN,NaN,0.980682,3.215451
std,2.854800,2.851286,7929.063192,2.783098,0.496229,1.433301,1.384079,5.463248,0.404073,0.928683,...,0.068296,0.222377,NaN,NaN,1.179375,103.770570,NaN,NaN,0.022594,0.404073
min,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,11.000000,1.500000,-3.350000,...,0.000000,0.000000,NaN,NaN,1.000000,288.947365,NaN,NaN,0.330740,1.500000
25%,3.000000,3.000000,6926.500000,3.000000,1.000000,7.000000,1.000000,33.000000,3.000000,-0.560000,...,0.000000,1.000000,NaN,NaN,3.000000,678.947352,NaN,NaN,0.971071,3.000000
50%,6.000000,6.000000,13772.000000,6.000000,2.000000,7.000000,3.000000,37.000000,3.200000,0.080000,...,0.000000,1.000000,NaN,NaN,4.000000,747.894717,NaN,NaN,0.983144,3.200000
75%,8.000000,8.000000,20628.500000,8.000000,2.000000,7.000000,4.000000,41.000000,3.500000,0.740000,...,0.000000,1.000000,NaN,NaN,5.000000,815.263136,NaN,NaN,0.996526,3.500000
max,10.000000,10.000000,27477.000000,10.000000,2.000000,8.000000,6.000000,48.000000,3.900000,3.250000,...,1.000000,1.000000,NaN,NaN,6.000000,989.999974,NaN,NaN,0.999698,3.900000

In [18]:
# Имеются ли пустые значения полей
# Указывает строки с количеством пустых значений
file.isnull().value_counts()

decile1b  decile3  ID     decile1  sex    race   cluster  lsat   ugpa   zfygpa  DOB_yr  grad   zgpa   bar1   bar1_yr  bar2   bar2_yr  fulltime  fam_inc  age    gender  parttime  male   race1  race2  Dropout  other  asian  black  hisp   pass_bar  bar    bar_passed  tier   index6040  indxgrp  indxgrp2  dnn_bar_pass_prediction  gpa
False     False    False  False    False  False  False    False  False  False   False   False  False  False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False    20427
True      True     False  True     False  False  False    False  False  True    False   False  True   False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False      761
                          False    False  False  False    False  False  False   False   False  True   False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False      502
False     False    False  False    False  False  False    False  False  False   False   False  False  False  False    False  False    False     True     False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False      253
True      True     False  True     False  False  False    False  False  True    False   False  False  False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False      204
                                                 True     False  False  False   False   False  False  False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       True   False      False    False     False                    False       84
False     False    False  False    False  False  False    False  False  False   True    False  False  False  False    False  False    False     False    True   False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False       46
                                                                                False   False  False  False  True     False  True     False     False    True   False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False       39
                                                                                                             False    False  False    True      False    False  False   True      False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False       27
True      True     False  True     False  False  False    False  False  True    False   False  False  False  False    False  False    False     True     False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        8
                                          True   False    False  False  False   False   False  False  False  False    False  False    False     False    False  False   False     False  True   True   False    False  False  False  False  False     False  False       False  False      False    False     False                    False        8
                                          False  True     False  False  False   False   False  True   False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       True   False      False    False     False                    False        6
                          False    False  False  False    False  False  False   False   False  True   False  False    False  False    False     True     False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        6
                          True     False  False  True     False  False  False   False   False  False  False  False    False  False    False     True     False  False   False     False  False  False  False    False  False  False  False  False     False  False       True   False      False    False     False                    False        5
False     False    False  False    False  False  False    False  False  False   False   False  False  False  False    False  False    True      True     False  False   True      False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        5
True      True     False  True     False  False  False    False  False  True    False   False  True   False  False    False  False    False     True     False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        4
                          False    False  False  False    False  False  False   True    False  True   False  False    False  False    False     False    True   False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        2
                                                                                False   True   True   False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        2
False     False    False  False    True   False  False    False  False  False   False   False  False  False  False    False  False    False     True     False  True    False     True   False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        2
                                                                                                                                                False    False  True    False     True   False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        2
True      True     False  True     False  True   False    False  False  False   False   False  False  False  False    False  False    False     True     False  False   False     False  True   True   False    False  False  False  False  False     False  False       False  False      False    False     False                    False        2
                                                                        True    False   False  False  False  False    False  False    False     False    False  False   False     False  True   True   False    False  False  False  False  False     False  False       False  False      False    False     False                    False        2
                                          False  False    False  False  True    False   False  True   False  False    False  False    True      False    False  False   True      False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
                                                                                        True   True   False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
                                                                                True    False  True   False  False    False  False    False     False    True   False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
False     False    False  False    False  False  False    False  False  False   True    False  False  False  False    False  False    False     True     True   False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
True      True     False  True     False  False  True     False  False  True    False   False  True   False  False    False  False    False     False    False  False   False     False  False  False  False    False  False  False  False  False     False  False       True   False      False    False     False                    False        1
False     False    False  False    False  False  False    False  False  False   False   False  False  False  False    False  True     False     True     False  False   False     False  False  False  False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
True      True     False  True     False  True   False    False  False  False   False   False  False  False  False    False  False    True      True     False  False   True      False  True   True   False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
                                                                                               True   False  False    False  False    False     False    False  False   False     False  True   True   False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
                                                                        True    False   False  True   False  False    False  False    False     False    False  False   False     False  True   True   False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
                                   True   True   False    False  False  False   False   False  False  False  False    False  False    False     True     False  True    False     True   True   True   False    False  False  False  False  False     False  False       False  False      False    False     False                    False        1
dtype: int64

In [20]:
# Статистические характеристики числовых полей (мин, макс, среднее,медиана).
groups = file.groupby(["lsat"])
max(groups.size())

1620

In [21]:
groups = file.groupby(["lsat"])
min(groups.size())

1

In [23]:
file.groupby(["sex"])[["lsat"]].mean()

          lsat
sex
1.0  36.290657
2.0  37.141659

In [25]:
file.groupby(["sex"])[["lsat","race"]].median()

     lsat  race
sex
1.0  37.0   7.0
2.0  37.0   7.0

In [26]:
# Выполнить срезы набора данных: по именам полей, по индексам

file.loc[3:10, "lsat" ]

3     39.0
4     48.0
5     40.0
6     34.0
7     40.0
8     40.0
9     28.0
10    33.0
Name: lsat, dtype: float64

In [29]:
file.iloc[0:5, 3:5]

   decile1  sex
0     10.0  1.0
1      5.0  1.0
2      3.0  2.0
3      7.0  2.0
4      9.0  2.0

In [32]:
# Выполнить выбороки с фильтрацией по значниям полей (равенство, неравенство, частичный фильтр строк с помощью лямбда-функции), с использованием |, &
file.iloc[lambda x: x.index % 2 == 0, [False, True, True, True, False, False,False, True, True, True, False, False,False, True, True, True, False, False,False, True, True, True, False, False,False, True, True, True, False, False,False, True, True, True, False, False, True, False, False]]

,decile3,ID,decile1,lsat,ugpa,zfygpa,bar1,bar1_yr,bar2,age,gender,parttime,Dropout,other,asian,bar,bar_passed,tier,indxgrp2
0,10.0,2,10.0,44.0,3.5,1.33,P,7.0,P,-62.0,female,0.0,NO,0,0,a Passed 1st time,True,4.0,i 820+
2,2.0,36,3.0,36.0,3.5,-0.64,P,7.0,P,-58.0,male,0.0,NO,0,0,a Passed 1st time,True,3.0,h 760-820
4,8.0,55,9.0,48.0,3.5,1.02,P,7.0,P,-61.0,male,0.0,NO,0,0,a Passed 1st time,True,5.0,i 820+
6,7.0,74,9.0,34.0,3.5,0.96,P,7.0,P,-62.0,female,0.0,NO,0,0,a Passed 1st time,True,3.0,g 700-760
8,2.0,109,4.0,40.0,3.5,-0.44,P,7.0,P,-61.0,male,0.0,NO,0,0,a Passed 1st time,True,5.0,i 820+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22398,4.0,5363,6.0,41.0,1.8,0.21,P,7.0,P,-43.0,male,1.0,NO,0,0,a Passed 1st time,True,5.0,f 640-700
22400,6.0,7260,9.0,31.0,1.8,0.95,F,2.0,F,-53.0,male,0.0,NO,0,0,c Failed,False,1.0,c 460-520
22402,1.0,10695,3.0,26.5,1.8,-0.58,F,2.0,F,-62.0,male,0.0,NO,0,0,c Failed,False,1.0,b 400-460
22404,8.0,24704,7.0,36.0,1.8,0.41,P,7.0,P,-59.0,male,1.0,NO,0,0,a Passed 1st time,True,3.0,e 580-640
22406,8.0,10684,9.0,29.5,1.6,1.10,P,2.0,P,-57.0,male,0.0,NO,0,0,a Passed 1st time,True,1.0,c 460-520

In [33]:
file[ (file.sex == 1.0) & (file.race == 7.0) ]

,decile1b,decile3,ID,decile1,sex,race,cluster,lsat,ugpa,zfygpa,...,hisp,pass_bar,bar,bar_passed,tier,index6040,indxgrp,indxgrp2,dnn_bar_pass_prediction,gpa
0,10.0,10.0,2,10.0,1.0,7.0,1.0,44.0,3.5,1.33,...,0,1,a Passed 1st time,True,4.0,886.842082,g 700+,i 820+,0.979804,3.5
1,5.0,4.0,3,5.0,1.0,7.0,2.0,29.0,3.5,-0.11,...,0,1,a Passed 1st time,True,2.0,649.999987,f 640-700,f 640-700,0.979804,3.5
5,3.0,5.0,72,3.0,1.0,7.0,3.0,40.0,3.5,-0.64,...,0,1,a Passed 1st time,True,3.0,823.684190,g 700+,i 820+,0.979804,3.5
6,9.0,7.0,74,9.0,1.0,7.0,3.0,34.0,3.5,0.96,...,0,1,a Passed 1st time,True,3.0,728.947352,g 700+,g 700-760,0.979804,3.5
10,2.0,2.0,144,3.0,1.0,7.0,2.0,33.0,3.5,-0.84,...,0,0,c Failed,False,2.0,713.157879,g 700+,g 700-760,0.979804,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22381,8.0,3.0,19013,8.0,1.0,7.0,3.0,43.0,1.9,0.75,...,0,1,a Passed 1st time,True,3.0,711.052609,g 700+,g 700-760,0.857193,1.9
22382,NaN,NaN,19746,NaN,1.0,7.0,6.0,31.5,1.9,NaN,...,0,1,a Passed 1st time,True,1.0,529.473670,d 520-580,d 520-580,0.857193,1.9
22388,4.0,5.0,24730,5.0,1.0,7.0,3.0,42.0,1.9,-0.22,...,0,1,a Passed 1st time,True,3.0,695.263136,f 640-700,f 640-700,0.857193,1.9
22393,2.0,1.0,1987,2.0,1.0,7.0,3.0,39.5,1.7,-0.94,...,0,1,b Passed 2nd time,True,3.0,635.789454,e 580-640,e 580-640,0.804208,1.7
22396,8.0,10.0,7366,8.0,1.0,7.0,3.0,42.0,1.7,0.57,...,0,1,a Passed 1st time,True,3.0,675.263136,f 640-700,f 640-700,0.804208,1.7

In [34]:
file[ (file.sex == 1.0) & (file.race == 7.0) | (file.race == 8.0)]

,decile1b,decile3,ID,decile1,sex,race,cluster,lsat,ugpa,zfygpa,...,hisp,pass_bar,bar,bar_passed,tier,index6040,indxgrp,indxgrp2,dnn_bar_pass_prediction,gpa
0,10.0,10.0,2,10.0,1.0,7.0,1.0,44.0,3.5,1.33,...,0,1,a Passed 1st time,True,4.0,886.842082,g 700+,i 820+,0.979804,3.5
1,5.0,4.0,3,5.0,1.0,7.0,2.0,29.0,3.5,-0.11,...,0,1,a Passed 1st time,True,2.0,649.999987,f 640-700,f 640-700,0.979804,3.5
5,3.0,5.0,72,3.0,1.0,7.0,3.0,40.0,3.5,-0.64,...,0,1,a Passed 1st time,True,3.0,823.684190,g 700+,i 820+,0.979804,3.5
6,9.0,7.0,74,9.0,1.0,7.0,3.0,34.0,3.5,0.96,...,0,1,a Passed 1st time,True,3.0,728.947352,g 700+,g 700-760,0.979804,3.5
10,2.0,2.0,144,3.0,1.0,7.0,2.0,33.0,3.5,-0.84,...,0,0,c Failed,False,2.0,713.157879,g 700+,g 700-760,0.979804,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22381,8.0,3.0,19013,8.0,1.0,7.0,3.0,43.0,1.9,0.75,...,0,1,a Passed 1st time,True,3.0,711.052609,g 700+,g 700-760,0.857193,1.9
22382,NaN,NaN,19746,NaN,1.0,7.0,6.0,31.5,1.9,NaN,...,0,1,a Passed 1st time,True,1.0,529.473670,d 520-580,d 520-580,0.857193,1.9
22388,4.0,5.0,24730,5.0,1.0,7.0,3.0,42.0,1.9,-0.22,...,0,1,a Passed 1st time,True,3.0,695.263136,f 640-700,f 640-700,0.857193,1.9
22393,2.0,1.0,1987,2.0,1.0,7.0,3.0,39.5,1.7,-0.94,...,0,1,b Passed 2nd time,True,3.0,635.789454,e 580-640,e 580-640,0.804208,1.7
22396,8.0,10.0,7366,8.0,1.0,7.0,3.0,42.0,1.7,0.57,...,0,1,a Passed 1st time,True,3.0,675.263136,f 640-700,f 640-700,0.804208,1.7

In [35]:
# Выполнить сортировку отфильтрованного набора данных
# ascending = [True, False, False] выполняет сортировку в зависимости, что там стоит по убыванию или по возрастанию
file[ file.sex == 1 ].sort_values( by = ["lsat", "race", "ugpa"], ascending = [True, False, False] )

,decile1b,decile3,ID,decile1,sex,race,cluster,lsat,ugpa,zfygpa,...,hisp,pass_bar,bar,bar_passed,tier,index6040,indxgrp,indxgrp2,dnn_bar_pass_prediction,gpa
11513,2.0,2.0,22787,2.0,1.0,6.0,3.0,12.0,2.9,-1.08,...,0,0,c Failed,False,3.0,321.578946,a under 400,a under 400,0.967757,2.9
15359,1.0,1.0,7118,1.0,1.0,3.0,4.0,13.5,2.7,-1.57,...,0,1,a Passed 1st time,True,5.0,325.263155,a under 400,a under 400,0.962527,2.7
10465,5.0,5.0,2331,6.0,1.0,3.0,6.0,14.0,2.9,0.04,...,0,1,a Passed 1st time,True,1.0,353.157892,a under 400,a under 400,0.967757,2.9
6350,1.0,1.0,2559,2.0,1.0,3.0,2.0,14.5,3.2,-1.22,...,0,0,c Failed,False,2.0,391.052629,a under 400,a under 400,0.996526,3.2
11454,1.0,1.0,21649,1.0,1.0,6.0,4.0,15.0,2.9,-1.52,...,0,1,a Passed 1st time,True,5.0,368.947365,a under 400,a under 400,0.967757,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14850,6.0,5.0,22369,6.0,1.0,2.0,4.0,48.0,3.7,0.20,...,0,1,a Passed 1st time,True,5.0,969.999974,g 700+,i 820+,0.983144,3.7
9780,6.0,7.0,19087,6.0,1.0,2.0,4.0,48.0,3.6,0.08,...,0,1,a Passed 1st time,True,5.0,959.999974,g 700+,i 820+,0.999319,3.6
1403,NaN,NaN,19809,NaN,1.0,2.0,5.0,48.0,3.5,NaN,...,0,1,a Passed 1st time,True,6.0,949.999974,g 700+,i 820+,0.979804,3.5
1854,10.0,10.0,26384,10.0,1.0,2.0,1.0,48.0,3.5,2.41,...,0,1,a Passed 1st time,True,4.0,949.999974,g 700+,i 820+,0.979804,3.5
9542,NaN,NaN,15586,NaN,1.0,NaN,5.0,48.0,3.6,1.78,...,0,1,a Passed 1st time,True,6.0,959.999974,g 700+,i 820+,0.999319,3.6

In [38]:
# Выполнить группировку данных по некоторым признакам (на основе предварительного анализа содержимого набора данных)
file.groupby(["sex"])[["race","ugpa"]].agg( [np.mean, np.min, np.max] )

         race                ugpa
         mean amin amax      mean amin amax
sex
1.0  6.334861  1.0  8.0  3.277417  1.7  3.9
2.0  6.555034  1.0  8.0  3.167009  1.5  3.9

In [63]:
# Выполнить объединение таблиц с различнымы типами присоединения (если нет возможности выполнить эту операцию с загруженным набором, то допускается создать собственные наборы)
lec = pd.read_csv("student-mat.csv")
lec.head()

merge = pd.merge(file, lec,
                       how='left', left_index=True, right_index=True)
merge.head()

,decile1b,decile3,ID,decile1,sex_x,race,cluster,lsat,ugpa,zfygpa,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,10.0,10.0,2,10.0,1.0,7.0,1.0,44.0,3.5,1.33,...,4.0,3.0,4.0,1.0,1.0,3.0,6.0,5.0,6.0,6.0
1,5.0,4.0,3,5.0,1.0,7.0,2.0,29.0,3.5,-0.11,...,5.0,3.0,3.0,1.0,1.0,3.0,4.0,5.0,5.0,6.0
2,3.0,2.0,36,3.0,2.0,7.0,3.0,36.0,3.5,-0.64,...,4.0,3.0,2.0,2.0,3.0,3.0,10.0,7.0,8.0,10.0
3,7.0,4.0,52,7.0,2.0,7.0,3.0,39.0,3.5,0.34,...,3.0,2.0,2.0,1.0,1.0,5.0,2.0,15.0,14.0,15.0
4,9.0,8.0,55,9.0,2.0,7.0,4.0,48.0,3.5,1.02,...,4.0,3.0,2.0,1.0,2.0,5.0,4.0,6.0,10.0,10.0

In [64]:
merge = pd.merge(file, lec,
                       how='left', left_on='ID', right_on='age')
merge.head()

,decile1b,decile3,ID,decile1,sex_x,race,cluster,lsat,ugpa,zfygpa,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,10.0,10.0,2,10.0,1.0,7.0,1.0,44.0,3.5,1.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.0,4.0,3,5.0,1.0,7.0,2.0,29.0,3.5,-0.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,2.0,36,3.0,2.0,7.0,3.0,36.0,3.5,-0.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7.0,4.0,52,7.0,2.0,7.0,3.0,39.0,3.5,0.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9.0,8.0,55,9.0,2.0,7.0,4.0,48.0,3.5,1.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN